.tall {
    height: auto;
    width: 200px;
}

img {
    height: auto;
    width: 400px;
}

ul {
    background-color: lightyellow;
}

h1 {
    color: maroon;
}

ol {
    background-color: mintcream;
}

p {
    background-color: mistyrose;
}